:root {
  --my-gap: 60px;
  --menu-open-width: 400px;
  --menu-close-width: 70px;
  --basic-transition-time: .5s;
}

@media only screen and (max-width: 43.75em) {
  :root {
    --menu-open-width: 100%;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Segoe UI";
  background-image: url("./../img/architectural-design-architecture-buildings-city-374811.jpg");
  background-size: cover;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;
}

@media only screen and (max-width: 84.375em) {
  body {
    overflow-y: auto;
  }
}

.container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (100px)[6];
      grid-template-columns: repeat(6, 100px);
  -ms-grid-rows: (calc(200px + var(--my-gap)))[2];
      grid-template-rows: repeat(2, calc(200px + var(--my-gap)));
  gap: var(--my-gap);
  margin-left: var(--menu-close-width);
  -webkit-transition: all var(--basic-transition-time);
  transition: all var(--basic-transition-time);
}

@media only screen and (max-width: 84.375em) {
  .container {
    -ms-grid-columns: (100px)[4];
        grid-template-columns: repeat(4, 100px);
    -ms-grid-rows: (calc(200px + var(--my-gap)))[3];
        grid-template-rows: repeat(3, calc(200px + var(--my-gap)));
    margin-top: 0;
    margin-bottom: auto;
    padding: 2rem;
  }
}

@media only screen and (max-width: 65.625em) {
  .container {
    -ms-grid-columns: (100px)[2];
        grid-template-columns: repeat(2, 100px);
    -ms-grid-rows: (calc(200px + var(--my-gap)))[5];
        grid-template-rows: repeat(5, calc(200px + var(--my-gap)));
  }
}

@media only screen and (max-width: 28.125em) {
  .container {
    margin-top: var(--menu-close-width);
    margin-left: 0;
    padding: 0;
    padding-top: var(--my-gap);
  }
}

.card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  -moz-perspective: 150rem;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}

.card--1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.card--2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.card--3 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.card--4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.card--5 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.card__printing-paper {
  opacity: 0;
  position: absolute;
  background-color: #fff;
  width: 60px;
  height: 100px;
  top: -70px;
  left: 28px;
  padding-top: 10px;
}

.card__printing-paper div {
  font-family: "Segoe UI";
  font-weight: bold;
  color: #000;
  text-align: center;
  font-size: 15px;
  opacity: 1;
  text-transform: uppercase;
}

.card__printer-cover {
  position: absolute;
  background-color: #000;
  height: 38px;
  width: 80px;
  top: 39px;
  left: 20px;
  z-index: 10;
}

.card__printer-led {
  position: absolute;
  top: 45px;
  left: 94px;
  border-radius: 50%;
  background-color: #003cff;
  height: 10px;
  width: 10px;
  z-index: 11;
}

@media only screen and (max-width: 84.375em) {
  .card--3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .card--4 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .card--5 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}

@media only screen and (max-width: 65.625em) {
  .card--2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .card--3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .card--4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .card--5 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
}

.card__side {
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
}

.card__side-front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}

.card__side-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: rgba(255, 255, 255, 0.8);
}

.card__info {
  fill: #F99059;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 5px;
  right: 5px;
  cursor: pointer;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.card__info:hover {
  -webkit-transform: translateY(-0.6rem);
          transform: translateY(-0.6rem);
}

.card__icon {
  fill: #000;
  width: 120px;
  height: 120px;
  z-index: 2;
}

.card__icon--1 {
  background-image: url("../img/pacman-foto.png");
  background-size: cover;
  height: 130px;
}

.card__icon--2:hover {
  -webkit-animation: animation-card-icon-vibrate 1.2s;
          animation: animation-card-icon-vibrate 1.2s;
}

.card__icon--3:hover ~ .card__icon--3-strip-1 {
  background-color: #61f4de;
  width: 60px;
}

.card__icon--3-strip-1 {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 0px;
  height: 10px;
  z-index: 1;
  -webkit-transition: all .6s;
  transition: all .6s;
  pointer-events: none;
}

.card__icon--3:hover ~ .card__icon--3-strip-2 {
  background-color: #68b6ef;
  width: 60px;
}

.card__icon--3-strip-2 {
  position: absolute;
  top: 45px;
  right: 30px;
  width: 0px;
  height: 11px;
  z-index: 1;
  -webkit-transition: all .8s;
  transition: all .8s;
  pointer-events: none;
}

.card__icon--3:hover ~ .card__icon--3-strip-3 {
  background-color: #6e78ff;
  width: 60px;
}

.card__icon--3-strip-3 {
  position: absolute;
  top: 60px;
  right: 30px;
  width: 0px;
  height: 10px;
  z-index: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
  pointer-events: none;
}

.card__title {
  text-align: center;
  font-size: 3rem;
  color: #2B6F71;
  text-transform: uppercase;
  font-family: "Segoe UI";
}

.card__link, .card__link:link, .card__link:visited {
  text-decoration: none;
  position: relative;
}

.card__link--pacman:hover .card__icon--1 {
  background-image: url("../img/pacman-foto.gif");
  -webkit-animation: animation-pacman 3s;
          animation: animation-pacman 3s;
}

.card__link--pacman .card__title {
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(204, 59, 59, 0)), color-stop(1%, #2B6F71));
  background-image: linear-gradient(90deg, rgba(204, 59, 59, 0) 0%, #2B6F71 1%);
  -webkit-background-clip: text;
  color: transparent;
}

.card__link--ball:hover .card__icon--4 {
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.card__link--printer:hover .card__printing-paper {
  -webkit-animation: animation-printer-card 5s forwards;
          animation: animation-printer-card 5s forwards;
  -webkit-transition: all 5s;
  transition: all 5s;
  -webkit-transform: translateY(160px);
          transform: translateY(160px);
}

.card__link--printer:hover .card__printing-paper .line-1 {
  -webkit-animation: animation-printer-text-line-1 5s;
          animation: animation-printer-text-line-1 5s;
}

.card__link--printer:hover .card__printing-paper .line-2 {
  -webkit-animation: animation-printer-text-line-2 5s;
          animation: animation-printer-text-line-2 5s;
}

.card__link--printer:hover .card__printing-paper .line-3 {
  -webkit-animation: animation-printer-text-line-3 5s;
          animation: animation-printer-text-line-3 5s;
}

.card__link--printer:hover .card__printing-paper .line-4 {
  -webkit-animation: animation-printer-text-line-4 5s;
          animation: animation-printer-text-line-4 5s;
}

.card__link--printer:hover .card__printer-led {
  background-color: #2fff40;
  -webkit-animation: animation-printer-led 5s;
          animation: animation-printer-led 5s;
}

.card__back-icon {
  fill: #F99059;
  width: 40px;
  height: 40px;
  margin: 4px;
  cursor: pointer;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.card__back-icon:hover {
  -webkit-transform: translateX(-0.6rem);
          transform: translateX(-0.6rem);
}

.card__about {
  font-family: "Segoe UI";
  height: 98%;
  font-size: 2rem;
  margin: 1rem;
  margin-top: 0;
  overflow-y: auto;
}

.back-all-card {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: var(--menu-close-width);
  background-color: #fff;
  z-index: 5;
  -webkit-transition: all var(--basic-transition-time);
  transition: all var(--basic-transition-time);
}

@media only screen and (max-width: 84.375em) {
  .navbar {
    height: 100%;
  }
}

@media only screen and (max-width: 28.125em) {
  .navbar {
    height: var(--menu-close-width);
    width: 100vw;
  }
}

.hamburger {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 4px;
  left: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

@media only screen and (max-width: 28.125em) {
  .hamburger {
    position: absolute;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    top: 4px;
    left: 50%;
  }
}

.hamburger:hover .hamburger__line {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.3);
}

.hamburger__checkbox {
  display: none;
}

.hamburger__checkbox:checked ~ label > div > .hamburger__line--1 {
  -webkit-transform-origin: center right;
          transform-origin: center right;
  -webkit-transform: rotate(-45deg) translateY(-9px);
          transform: rotate(-45deg) translateY(-9px);
}

.hamburger__checkbox:checked ~ label > div > .hamburger__line--2 {
  opacity: 0 !important;
}

.hamburger__checkbox:checked ~ label > div > .hamburger__line--3 {
  -webkit-transform-origin: center right;
          transform-origin: center right;
  -webkit-transform: rotate(45deg) translateY(3px) translateX(-5px);
          transform: rotate(45deg) translateY(3px) translateX(-5px);
}

.hamburger__line {
  width: 65%;
  background-color: #2B6F71;
  height: 5px;
  border-radius: 10px;
  -webkit-transition: all var(--basic-transition-time);
  transition: all var(--basic-transition-time);
}

.hamburger__line--2 {
  margin-top: 10%;
  margin-bottom: 10%;
}

.menu {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: auto 0;
  width: 80%;
  overflow: hidden;
  -webkit-transition: all var(--basic-transition-time);
  transition: all var(--basic-transition-time);
  opacity: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

@media only screen and (max-width: 84.375em) {
  .menu {
    margin: 6rem 0;
  }
}

@media only screen and (max-width: 28.125em) {
  .menu {
    margin-top: 50px;
  }
}

.menu__item {
  font-family: "Segoe UI";
  text-align: center;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item a, .menu__item a:link, .menu__item a:visited {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 3rem;
  color: #000;
  height: 100%;
  width: 100%;
  position: relative;
}

.menu__item a::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 0;
  background-color: #2B6F71;
  z-index: -1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.menu__item a:hover::before {
  width: 100%;
}

.menu__item a:hover {
  color: #fff;
}

.menu__line:first-of-type {
  margin-top: 4rem;
}

.menu__line {
  width: 100%;
  background-color: #2B6F71;
  height: 5px;
  border-radius: 10px;
}

.contact {
  width: 60vw;
  height: 700px;
  color: #2B6F71;
  z-index: 2;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-left: var(--menu-close-width);
  -webkit-perspective: 150rem;
          perspective: 150rem;
  -moz-perspective: 150rem;
}

@media only screen and (max-width: 68.75em) {
  .contact {
    height: 700px;
    width: 50vw;
  }
}

@media only screen and (max-width: 53.125em) {
  .contact {
    margin-top: 130;
    margin-bottom: 50px;
    margin-left: 0;
    width: 70vw;
  }
}

@media only screen and (max-width: 37.5em) {
  .contact {
    width: 90vw;
  }
}

@media only screen and (max-width: 25em) {
  .contact {
    width: 100vw;
  }
}

.contact__side {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
}

.contact__front {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: rgba(255, 255, 255, 0.9);
}

.contact__header {
  margin-top: 6rem;
  font-size: 6rem;
  font-weight: normal;
  text-align: center;
}

.contact__info {
  font-size: 4rem;
  margin-left: 5rem;
  margin-top: 8rem;
}

@media only screen and (max-width: 87.5em) {
  .contact__info {
    font-size: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media only screen and (max-width: 68.75em) {
  .contact__info {
    font-size: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media only screen and (max-width: 62.5em) {
  .contact__info {
    margin-top: 6rem;
    margin-left: 2rem;
  }
}

.contact__info-item {
  margin-top: 4rem;
  margin-left: 2rem;
}

@media only screen and (max-width: 62.5em) {
  .contact__info-item {
    margin-left: 0;
    margin-top: 5rem;
  }
}

.contact__name-surname {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 37.5em) {
  .contact__name-surname {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact__name-surname-data {
  margin-left: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .contact__name-surname-data {
    margin-left: 0rem;
  }
}

.contact__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 37.5em) {
  .contact__email {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact__email-link, .contact__email-link:link, .contact__email-link:visited {
  position: relative;
  margin-left: 2rem;
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 37.5em) {
  .contact__email-link, .contact__email-link:link, .contact__email-link:visited {
    margin-left: 0rem;
  }
}

.contact__email-link::before {
  content: "";
  background-color: #2B6F71;
  position: absolute;
  width: 0%;
  height: 2px;
  top: 102%;
  left: 50%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
}

.contact__email-link:hover:before {
  width: 100%;
  left: 0;
}

.contact__email-copy-icon {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  fill: #F99059;
  -webkit-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
}

@media only screen and (max-width: 68.75em) {
  .contact__email-copy-icon {
    width: 20px;
    height: 20px;
  }
}

.contact__email-copy-icon:hover {
  -webkit-transform: scale(1.2) translateY(-5px);
          transform: scale(1.2) translateY(-5px);
}

.contact__email-copy-icon:active {
  -webkit-transform: scale(1.3) translateY(-15px);
          transform: scale(1.3) translateY(-15px);
}

.contact__github {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 37.5em) {
  .contact__github {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact__github-link, .contact__github-link:link, .contact__github-link:visited {
  margin-left: 2rem;
  position: relative;
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 37.5em) {
  .contact__github-link, .contact__github-link:link, .contact__github-link:visited {
    margin-left: 0rem;
  }
}

.contact__github-link::before {
  content: "";
  background-color: #2B6F71;
  position: absolute;
  width: 0%;
  height: 2px;
  top: 102%;
  left: 50%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
}

.contact__github-link:hover:before {
  width: 100%;
  left: 0;
}

.contact__btn {
  background-color: #2B6F71;
  display: block;
  color: #fff;
  font-size: 3rem;
  padding: 2rem;
  margin: 0 auto;
  width: 300px;
  text-align: center;
  margin-top: 6rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
}

.contact__btn:hover {
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

@media only screen and (max-width: 68.75em) {
  .contact__btn {
    margin-top: 140px;
    width: 200px;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .contact__btn {
    margin-top: 5rem;
  }
}

.contact__header-back {
  margin-top: 2rem;
  font-size: 4rem;
  font-weight: normal;
  text-align: center;
}

@media only screen and (max-width: 62.5em) {
  .contact__header-back {
    margin-top: 5rem;
  }
}

.contact__back-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 20px;
  right: 60px;
  fill: #F99059;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

@media only screen and (max-width: 62.5em) {
  .contact__back-icon {
    top: 10px;
    right: 20px;
  }
}

.contact__back-icon:hover {
  -webkit-transform: scale(1.1) translateY(-10px);
          transform: scale(1.1) translateY(-10px);
}

.form {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}

@media only screen and (max-width: 68.75em) {
  .form {
    width: 80%;
  }
}

@media only screen and (max-width: 62.5em) {
  .form {
    width: 95%;
  }
}

.form__your-name-surname {
  width: 90%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.form__your-name-surname::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  margin-top: 5px;
  background-color: #2B6F71;
}

.form__your-name-surname:focus-within::before {
  background: #34a4ff;
}

.form__user-icon {
  width: 50px;
  height: 50px;
  fill: #F99059;
  cursor: pointer;
}

.form__input-name-surname {
  margin-bottom: 2px;
  margin-left: 20px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 100%;
  font-size: 30px;
  font-weight: 100;
  color: #2B6F71;
  outline: none;
}

.form__input-name-surname::-webkit-input-placeholder {
  font-family: "Segoe UI";
  font-weight: 100;
  font-size: 25px;
  color: #2B6F71;
}

.form__input-name-surname:-ms-input-placeholder {
  font-family: "Segoe UI";
  font-weight: 100;
  font-size: 25px;
  color: #2B6F71;
}

.form__input-name-surname::-ms-input-placeholder {
  font-family: "Segoe UI";
  font-weight: 100;
  font-size: 25px;
  color: #2B6F71;
}

.form__input-name-surname::placeholder {
  font-family: "Segoe UI";
  font-weight: 100;
  font-size: 25px;
  color: #2B6F71;
}

.form__your-email {
  width: 90%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.form__your-email::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  margin-top: 5px;
  background-color: #2B6F71;
}

.form__your-email:focus-within::before {
  background: #34a4ff;
}

.form__email-icon {
  width: 50px;
  height: 50px;
  fill: #F99059;
  cursor: pointer;
}

.form__input-email {
  margin-bottom: 2px;
  margin-left: 20px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 100%;
  font-size: 30px;
  font-weight: 100;
  color: #2B6F71;
  outline: none;
}

.form__input-email::-webkit-input-placeholder {
  font-family: "Segoe UI";
  font-weight: 100;
  font-size: 25px;
  color: #2B6F71;
}

.form__input-email:-ms-input-placeholder {
  font-family: "Segoe UI";
  font-weight: 100;
  font-size: 25px;
  color: #2B6F71;
}

.form__input-email::-ms-input-placeholder {
  font-family: "Segoe UI";
  font-weight: 100;
  font-size: 25px;
  color: #2B6F71;
}

.form__input-email::placeholder {
  font-family: "Segoe UI";
  font-weight: 100;
  font-size: 25px;
  color: #2B6F71;
}

.form__your-message {
  margin-top: 15px;
  width: 90%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

@media only screen and (max-width: 62.5em) {
  .form__your-message {
    height: 250px;
  }
}

.form__your-message::before {
  content: "";
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  margin-top: 5px;
  background-color: #2B6F71;
}

.form__your-message:focus-within::before {
  background: #34a4ff;
}

.form__message-icon {
  width: 50px;
  height: 50px;
  fill: #F99059;
  cursor: pointer;
}

.form__textarea-message {
  margin-bottom: 2px;
  margin-left: 20px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  height: 100%;
  width: 100%;
  font-size: 23px;
  font-weight: 100;
  color: #2B6F71;
  outline: none;
  resize: none;
}

.form__textarea-message::-webkit-input-placeholder {
  font-family: "Segoe UI";
  font-weight: 100;
  font-size: 25px;
  color: #2B6F71;
}

.form__textarea-message:-ms-input-placeholder {
  font-family: "Segoe UI";
  font-weight: 100;
  font-size: 25px;
  color: #2B6F71;
}

.form__textarea-message::-ms-input-placeholder {
  font-family: "Segoe UI";
  font-weight: 100;
  font-size: 25px;
  color: #2B6F71;
}

.form__textarea-message::placeholder {
  font-family: "Segoe UI";
  font-weight: 100;
  font-size: 25px;
  color: #2B6F71;
}

.form__btn-send {
  background-color: #2B6F71;
  color: #fff;
  font-size: 2.4rem;
  padding: 1rem 8rem;
  margin-top: 3rem;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.form__btn-send:hover {
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

@media only screen and (max-width: 53.125em) {
  .navbar-contact-RWD {
    height: var(--menu-close-width);
    width: 100vw;
  }
}

@media only screen and (max-width: 53.125em) {
  .hamburger-contact-RWD {
    position: absolute;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    top: 4px;
    left: 50%;
  }
}

.animation-rotate-card-front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.animation-rotate-card-back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.animation-open-navbar {
  width: var(--menu-open-width) !important;
}

.animation-open-navbar-full-width {
  width: 100vw !important;
}

.animate-open-navbar-small-device {
  height: 500px !important;
}

.animation-center-cards-after-open-menu {
  margin-left: var(--menu-open-width) !important;
}

.animation-open-menu {
  opacity: 1 !important;
  -webkit-animation: animation-keyframes-open-menu .9s ease-out .2s;
          animation: animation-keyframes-open-menu .9s ease-out .2s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.animation-close-menu {
  -webkit-animation: animation-keyframes-close-menu var(--basic-transition-time);
          animation: animation-keyframes-close-menu var(--basic-transition-time);
}

@-webkit-keyframes animation-printer-card {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animation-printer-card {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes animation-printer-text-line-1 {
  0% {
    opacity: 0;
  }
  39% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animation-printer-text-line-1 {
  0% {
    opacity: 0;
  }
  39% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes animation-printer-text-line-2 {
  0% {
    opacity: 0;
  }
  29% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animation-printer-text-line-2 {
  0% {
    opacity: 0;
  }
  29% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes animation-printer-text-line-3 {
  0% {
    opacity: 0;
  }
  24% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animation-printer-text-line-3 {
  0% {
    opacity: 0;
  }
  24% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes animation-printer-text-line-4 {
  0% {
    opacity: 0;
  }
  19% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animation-printer-text-line-4 {
  0% {
    opacity: 0;
  }
  19% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes animation-printer-led {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animation-printer-led {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes animation-ball-even {
  20% {
    -webkit-transform: scale(0.7) translateY(-40px) translateX(140px);
            transform: scale(0.7) translateY(-40px) translateX(140px);
  }
  30% {
    -webkit-transform: scale(0.7) translateY(-120px) translateX(50px);
            transform: scale(0.7) translateY(-120px) translateX(50px);
  }
  50% {
    -webkit-transform: scale(0.7) translateY(-50px) translateX(-110px);
            transform: scale(0.7) translateY(-50px) translateX(-110px);
  }
  70% {
    -webkit-transform: scale(0.7) translateY(160px) translateX(30px);
            transform: scale(0.7) translateY(160px) translateX(30px);
  }
  80% {
    -webkit-transform: scale(0.7) translateY(100px) translateX(130px);
            transform: scale(0.7) translateY(100px) translateX(130px);
  }
  100% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
}

@keyframes animation-ball-even {
  20% {
    -webkit-transform: scale(0.7) translateY(-40px) translateX(140px);
            transform: scale(0.7) translateY(-40px) translateX(140px);
  }
  30% {
    -webkit-transform: scale(0.7) translateY(-120px) translateX(50px);
            transform: scale(0.7) translateY(-120px) translateX(50px);
  }
  50% {
    -webkit-transform: scale(0.7) translateY(-50px) translateX(-110px);
            transform: scale(0.7) translateY(-50px) translateX(-110px);
  }
  70% {
    -webkit-transform: scale(0.7) translateY(160px) translateX(30px);
            transform: scale(0.7) translateY(160px) translateX(30px);
  }
  80% {
    -webkit-transform: scale(0.7) translateY(100px) translateX(130px);
            transform: scale(0.7) translateY(100px) translateX(130px);
  }
  100% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
}

@-webkit-keyframes animation-ball-odd {
  50% {
    -webkit-transform: rotate(360deg) scale(0.7) translateY(240px) translateX(0px);
            transform: rotate(360deg) scale(0.7) translateY(240px) translateX(0px);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.7) translateY(0px) translateX(0px);
            transform: rotate(720deg) scale(0.7) translateY(0px) translateX(0px);
  }
}

@keyframes animation-ball-odd {
  50% {
    -webkit-transform: rotate(360deg) scale(0.7) translateY(240px) translateX(0px);
            transform: rotate(360deg) scale(0.7) translateY(240px) translateX(0px);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.7) translateY(0px) translateX(0px);
            transform: rotate(720deg) scale(0.7) translateY(0px) translateX(0px);
  }
}

@-webkit-keyframes animation-pacman {
  0% {
  }
  20% {
    -webkit-transform: scale(0.5) translateX(-180px);
            transform: scale(0.5) translateX(-180px);
  }
  35% {
    -webkit-transform: scale(0.5) translateX(-180px) translateY(180px);
            transform: scale(0.5) translateX(-180px) translateY(180px);
  }
  95% {
    -webkit-transform: scale(0.85) translateX(90px) translateY(100px);
            transform: scale(0.85) translateX(90px) translateY(100px);
  }
  100% {
    -webkit-transform: scale(0.85) translateX(90px) translateY(100px);
            transform: scale(0.85) translateX(90px) translateY(100px);
  }
}

@keyframes animation-pacman {
  0% {
  }
  20% {
    -webkit-transform: scale(0.5) translateX(-180px);
            transform: scale(0.5) translateX(-180px);
  }
  35% {
    -webkit-transform: scale(0.5) translateX(-180px) translateY(180px);
            transform: scale(0.5) translateX(-180px) translateY(180px);
  }
  95% {
    -webkit-transform: scale(0.85) translateX(90px) translateY(100px);
            transform: scale(0.85) translateX(90px) translateY(100px);
  }
  100% {
    -webkit-transform: scale(0.85) translateX(90px) translateY(100px);
            transform: scale(0.85) translateX(90px) translateY(100px);
  }
}

@-webkit-keyframes animation-keyframes-open-menu {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30rem);
            transform: translateX(-30rem);
  }
  20% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  70% {
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
  }
  90% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
  }
  100% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
    -webkit-transform: translate(1);
            transform: translate(1);
  }
}

@keyframes animation-keyframes-open-menu {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30rem);
            transform: translateX(-30rem);
  }
  20% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  70% {
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
  }
  90% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
  }
  100% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
    -webkit-transform: translate(1);
            transform: translate(1);
  }
}

@-webkit-keyframes animation-keyframes-close-menu {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
  10% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-100rem);
            transform: translate(-100rem);
  }
}

@keyframes animation-keyframes-close-menu {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
  10% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-100rem);
            transform: translate(-100rem);
  }
}

@-webkit-keyframes animation-card-icon-up-down {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes animation-card-icon-up-down {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes animation-card-icon-vibrate {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  5% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  10% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  15% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  20% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  25% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  30% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  35% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  40% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  45% {
    -webkit-transform: rotate(-5deg) translateY(-5px);
            transform: rotate(-5deg) translateY(-5px);
  }
  50% {
    -webkit-transform: rotate(5deg) translateY(-10px);
            transform: rotate(5deg) translateY(-10px);
  }
  55% {
    -webkit-transform: rotate(-5deg) translateY(-15px);
            transform: rotate(-5deg) translateY(-15px);
  }
  60% {
    -webkit-transform: rotate(5deg) translateY(-20px);
            transform: rotate(5deg) translateY(-20px);
  }
  65% {
    -webkit-transform: rotate(-5deg) translateY(-25px);
            transform: rotate(-5deg) translateY(-25px);
  }
  70% {
    -webkit-transform: rotate(5deg) translateY(-30px);
            transform: rotate(5deg) translateY(-30px);
  }
  75% {
    -webkit-transform: rotate(-5deg) translateY(-35px);
            transform: rotate(-5deg) translateY(-35px);
  }
  80% {
    -webkit-transform: rotate(5deg) translateY(-40px);
            transform: rotate(5deg) translateY(-40px);
  }
  85% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  90% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  95% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes animation-card-icon-vibrate {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  5% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  10% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  15% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  20% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  25% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  30% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  35% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  40% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  45% {
    -webkit-transform: rotate(-5deg) translateY(-5px);
            transform: rotate(-5deg) translateY(-5px);
  }
  50% {
    -webkit-transform: rotate(5deg) translateY(-10px);
            transform: rotate(5deg) translateY(-10px);
  }
  55% {
    -webkit-transform: rotate(-5deg) translateY(-15px);
            transform: rotate(-5deg) translateY(-15px);
  }
  60% {
    -webkit-transform: rotate(5deg) translateY(-20px);
            transform: rotate(5deg) translateY(-20px);
  }
  65% {
    -webkit-transform: rotate(-5deg) translateY(-25px);
            transform: rotate(-5deg) translateY(-25px);
  }
  70% {
    -webkit-transform: rotate(5deg) translateY(-30px);
            transform: rotate(5deg) translateY(-30px);
  }
  75% {
    -webkit-transform: rotate(-5deg) translateY(-35px);
            transform: rotate(-5deg) translateY(-35px);
  }
  80% {
    -webkit-transform: rotate(5deg) translateY(-40px);
            transform: rotate(5deg) translateY(-40px);
  }
  85% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  90% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  95% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=main.css.map */