// Z-INDEX INFO 

//.card{ z-index:2}
//.navbar{ z-index:5}
//.back-all-card{ z-index:1}

// BREAKPOINTS - main site
$bp-largest: 84.375em; //1350px
$bp-large: 65.625em; // 1050px
$bp-medium: 43.75em; //700px
$bp-small: 28.125em; // 450px

// BREAKPOINTS - contact site

$bp-largest-c: 87.5em ; //1400px
$bp-large-c: 68.75em ; //1100px
$bp-medium-c: 62.5em ; //1000px
$bp-small-c: 53.125em ; //800px
$bp-smaller-c: 37.5em ; //600px
$bp-smallest-c: 25em ; //400px


//GLOBAL ELEMENT

$basic-transition-time: .5s;
$basic-font: 'Segoe UI';

$color-primary-green: #2B6F71;
$color-secondary-orange: #F99059;


:root {
    --my-gap: 60px;
    --menu-open-width: 400px;
    --menu-close-width: 70px;
    --basic-transition-time: .5s;



    @media only screen and (max-width: $bp-medium) {
        --menu-open-width: 100%;
    }

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

}

body {
    font-family: $basic-font;
    background-image: url("./../img/architectural-design-architecture-buildings-city-374811.jpg");
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    position: relative;
    // width: 100vw;
    min-height: 100vh;

    @media only screen and (max-width: $bp-largest) {
        overflow-y: auto;
    }
}