// Z-INDEX INFO 

//.card{ z-index:2}
//.navbar{ z-index:5}
//.back-all-card{ z-index:1}

// BREAKPOINTS 
$bp-largest: 84.375em; //1350px
$bp-large: 65.625em; // 1050px
$bp-medium: 43.75em; //700px
$bp-small: 28.125em; // 450px

:root {
    --my-gap: 60px;
    --menu-open-width: 400px;
    --menu-close-width: 70px;
    --basic-transition-time: .5s;

    --pacman-eat-1: 0%;
    --pacman-eat-2: 1%;


    @media only screen and (max-width: $bp-medium) {
        --menu-open-width: 100%;
    }

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

}

body {
    background-image: url("./../img/architectural-design-architecture-buildings-city-374811.jpg");
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    position: relative;
    // width: 100vw;
     min-height: 100vh;

    @media only screen and (max-width: $bp-largest) {
        overflow-y: auto;
    }
}