.contact {
        
        width: 60vw;
        height: 700px;
        color: $color-primary-green;
        z-index: 2;
        position: relative;
        backface-visibility: hidden;
        transition: all $basic-transition-time;
        margin-left: var(--menu-close-width);
        //perfect spin
        perspective: 150rem;
        -moz-perspective: 150rem;

        @media only screen and (max-width: $bp-large-c) {
                height: 700px;
                width: 50vw;
        }
       
        @media only screen and (max-width: $bp-small-c) {

                margin-top: 130;
                margin-bottom: 50px;
                margin-left: 0;
                width: 70vw;
        }
        @media only screen and (max-width: $bp-smaller-c) {
                width: 90vw;
        }
        @media only screen and (max-width: $bp-smallest-c) {
                width: 100vw;
        }

        &__side {
                backface-visibility: hidden;
                transition: all $basic-transition-time;
                overflow: hidden;
        }

        &__front {
                background-color: rgba(#fff, 0.9);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
        }

        &__back {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: rotateY(180deg);
                background-color: rgba(#fff, 0.9);
        }

        //FRONT SIDE STYLING
        &__header {
                margin-top: 6rem;
                font-size: 6rem;
                font-weight: normal;
                text-align: center;

        }

        

        

        &__info {
               
                font-size: 4rem;
                margin-left: 5rem;
                margin-top: 8rem;
               
                @media only screen and (max-width: $bp-largest-c) {
                        font-size: 3rem;
                        display:flex;
                        flex-direction: column;
                        align-items: flex-start;
                }
                @media only screen and (max-width: $bp-large-c) {
                        font-size: 2rem;
                        display:flex;
                        flex-direction: column;
                        align-items: flex-start;
                }
                @media only screen and (max-width: $bp-medium-c) {
                        margin-top: 6rem;
                        margin-left: 2rem;
                }
               
                
        }

        // contact items styling
        &__info-item{
                margin-top: 4rem;
                margin-left: 2rem;
                @media only screen and (max-width: $bp-medium-c) {
                        margin-left: 0;
                        margin-top: 5rem;
                }
        }
        //first item of card
        &__name-surname{
                display: flex;
                @media only screen and (max-width: $bp-smaller-c) {
                        flex-direction: column;
                }
                
        }
        &__name-surname-title{

        }
        &__name-surname-data{
                margin-left: 2rem;
                @media only screen and (max-width: $bp-smaller-c) {
                        margin-left: 0rem;
                }
                
        }
        //second item of card
        &__email{
                display: flex;
                @media only screen and (max-width: $bp-smaller-c) {
                        flex-direction: column;
                }
        }
        &__email-title{

        }
        &__email-data{

        }
        &__email-link{
                &,
                &:link,
                &:visited {
                        position: relative;
                        margin-left: 2rem;
                        text-decoration: none;
                        color: inherit;
                        @media only screen and (max-width: $bp-smaller-c) {
                                margin-left: 0rem;
                        }
                        
                }

                &::before {
                        content: "";
                        background-color: $color-primary-green;
                        position: absolute;
                        width: 0%;
                        height: 2px;
                        top: 102%;
                        left: 50%;
                        transition: all $basic-transition-time;
                        position: absolute;

                }

                &:hover:before {
                        width: 100%;
                        left: 0;
                }
        }
        &__email-copy-icon{
                width: 30px;
                height: 30px;
                margin-left: 20px;
                fill: $color-secondary-orange;
                transition: all .2s;
                cursor: pointer;
                @media only screen and (max-width: $bp-large-c) {
                        width: 20px;
                        height: 20px;
                }

                
                &:hover {
                        transform: scale(1.2) translateY(-5px);
                }
                &:active {
                        transform: scale(1.3) ;
                }  
        }
        //third item of card
        &__github{
                display: flex;
                @media only screen and (max-width: $bp-smaller-c) {
                        flex-direction: column;
                }
               
        }
        &__github-title{

        }
        &__github-link{
                &,
                &:link,
                &:visited {
                        margin-left: 2rem;
                        position: relative;
                        text-decoration: none;
                        color: inherit;
                        @media only screen and (max-width: $bp-smaller-c) {
                                margin-left: 0rem;
                        }
                        
                }

                &::before {
                        content: "";
                        background-color: $color-primary-green;
                        position: absolute;
                        width: 0%;
                        height: 2px;
                        top: 102%;
                        left: 50%;
                        transition: all $basic-transition-time;
                        position: absolute;

                }

                &:hover:before {
                        width: 100%;
                        left: 0;
                }
        }

        

        &__btn {
                background-color: $color-primary-green;
                display: block;
                color: #fff;
                font-size: 3rem;
                padding: 2rem;
                margin: 0 auto;
                width: 300px;
                text-align: center;
                margin-top: 6rem;
                transition: all .2s;
                cursor: pointer;

                &:hover {
                        box-shadow: 5px 5px 10px rgba(#000, 0.9);
                        transform: translateY(-5px);
                }

                @media only screen and (max-width: $bp-large-c) {
                        margin-top: 140px;
                        width: 200px;
                        font-size: 2rem;
                }

                @media only screen and (max-width: $bp-smaller-c) {
                        margin-top: 5rem;
                }
        }

        //BACK SIDE STYLING

        &__header-back {
                margin-top: 2rem;
                font-size: 4rem;
                font-weight: normal;
                text-align: center;
                @media only screen and (max-width: $bp-medium-c) {
  
                        margin-top: 5rem;
                }
        }

        &__back-icon {
                position: absolute;
                width: 50px;
                height: 50px;
                top: 20px;
                right: 60px;
                fill: $color-secondary-orange;
                transition: all $basic-transition-time;
                cursor: pointer;
                z-index: 999;
                @media only screen and (max-width: $bp-medium-c) {
  
                        top: 10px;
                        right: 20px;
                }
                

                &:hover {
                        transform: scale(1.1) translateY(-10px);
                }
        }
      

       

}

.form {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        // position: relative; 

        @media only screen and (max-width: $bp-large-c) {
                width: 80%;
                
        }
        @media only screen and (max-width: $bp-medium-c) {
                width: 95%;
                
        }

       
        
        //FIELD 1
        &__your-name-surname {
                width: 90%;
                height: 100px;
                display: flex;
                align-items: flex-end;
                justify-content: flex-start;
                position: relative;

        }

        &__underline-name-surname{
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: $color-primary-green;
        }

        &__name-surname-error{
                position: absolute;
                bottom: -30px;
                left: 70px;
                color: $color-form-error;
                font-size: $form-font-size;
        }

        &__your-name-surname:focus-within &__underline-name-surname {
                background: rgb(52, 164, 255) !important;

        }

        &__user-icon {
                width: 50px;
                height: 50px;
                fill: $color-secondary-orange;
                cursor: pointer;
        }

        &__input-name-surname {
                margin-bottom: 2px;
                margin-left: 20px;
                background-color: rgba($color: #000000, $alpha: 0);
                border: none;
                width: 100%;
                font-size: 30px;
                font-weight: 100;
                color: $color-primary-green;
                outline: none;

                &::placeholder {
                        font-family: $basic-font;
                        font-weight: 100;
                        font-size: 25px;
                        color: $color-primary-green;
                }
        }



        //FIELD 2 

        &__your-email {
                width: 90%;
                height: 85px;
                display: flex;
                align-items: flex-end;
                justify-content: flex-start;
                position: relative;
        }

        &__underline-email
        {
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: $color-primary-green;
        }

        &__email-error{
                position: absolute;
                bottom: -30px;
                left: 70px;
                color: $color-form-error;
                font-size: $form-font-size;
        }

        &__your-email:focus-within &__underline-email {
                background: rgb(52, 164, 255) !important;

        }

        &__email-icon {
                width: 50px;
                height: 50px;
                fill: $color-secondary-orange;
                cursor: pointer;
        }

        &__input-email {
                margin-bottom: 2px;
                margin-left: 20px;
                background-color: rgba($color: #000000, $alpha: 0);
                border: none;
                width: 100%;
                font-size: 30px;
                font-weight: 100;
                color: $color-primary-green;
                outline: none;

                &::placeholder {
                        font-family: $basic-font;
                        font-weight: 100;
                        font-size: 25px;
                        color: $color-primary-green;
                }
        }


        //FIELD 3 

        &__your-message {
                margin-top: 40px;
                width: 90%;
                height: 280px;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                position: relative;
                @media only screen and (max-width: $bp-medium-c) {
                        height: 250px;
                }

        }


        &__underline-message {
                bottom: 0;
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: $color-primary-green;
        }

        &__message-error{
                position: absolute;
                bottom: -30px;
                left: 50%;
                transform: translate(-50%, 0%);
                color: $color-form-error;
                font-size: $form-font-size;
        }

        &__your-message:focus-within &__underline-message {
                background: rgb(52, 164, 255) !important;
        }

        &__message-icon {
                width: 50px;
                height: 50px;
                fill: $color-secondary-orange;
                cursor: pointer;
        }

        &__textarea-message {
                margin-bottom: 2px;
                margin-left: 20px;
                background-color: rgba($color: #000000, $alpha: 0);
                border: none;
                height: 100%;
                width: 100%;
                font-size: 23px;
                font-weight: 100;
                color: $color-primary-green;
                outline: none;
                resize: none;

                &::placeholder {
                        font-family: $basic-font;
                        font-weight: 100;
                        font-size: 25px;
                        color: $color-primary-green;
                }
        }

        &__letter-counter{
                // color: rgb(52, 164, 255);
                color: black;
                // background-color: red;
                position: absolute;
                right: 0;
                bottom:-20px;
                font-size: 13px;
        }

        &__btn-send {
                background-color: $color-primary-green;
                color: #fff;
                font-size: 2.4rem;
                padding: 1rem 8rem;
                margin-top: 5rem;
                border-radius: 10px;
                cursor: pointer;
                transition: all .2s;

                &:hover {
                        box-shadow: 5px 5px 10px rgba(#000, 0.9);
                        transform: translateY(-5px);
                }
        }

}
.correct-mail-send{
        position: absolute;
        top: 0px;
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 100%;
        font-size: 20px;
        opacity: 0;
        transition: all 1s;
        pointer-events: none;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
}