.navbar-contact-RWD {

    @media only screen and (max-width: $bp-small-c) {

        height: var(--menu-close-width);
        width: 100vw;
    }


}

.hamburger-contact-RWD {
    @media only screen and (max-width: $bp-small-c) {

        position: absolute;
        transform: translate(-50%, 0%);
        top: 4px;
        left: 50%;
    }
}
