.animation-rotate-card-front {
    transform: rotateY(-180deg);
}

.animation-rotate-card-back {
    transform: rotateY(0);
}

.animation-open-navbar {
    width: var(--menu-open-width) !important;
}
.animation-open-navbar-full-width {
    width: 100vw !important;
}
.animate-open-navbar-small-device {
    height: 500px !important;
}

.animation-center-cards-after-open-menu {
    margin-left: var(--menu-open-width) !important;
}


.animation-open-menu {
    opacity: 1 !important;
    animation: animation-keyframes-open-menu .9s ease-out .2s;
    animation-fill-mode: backwards;
}

.animation-close-menu {
    // transform: translateX(-30rem);
    animation: animation-keyframes-close-menu var(--basic-transition-time);
}

@keyframes animation-printer-card {
    0%{
        opacity: 0;
    }
    20%{opacity: 1;}
    100%{opacity: 1;
        
    }
}

@keyframes animation-printer-text-line-1 {
    0% {
        opacity: 0;
    }

    39% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes animation-printer-text-line-2 {
    0% {
        opacity: 0;
    }

    29% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes animation-printer-text-line-3 {
    0% {
        opacity: 0;
    }

    24% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes animation-printer-text-line-4 {
    0% {
        opacity: 0;
    }

    19% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes animation-printer-led {
    0% {opacity: 0;}
    10%{opacity: 1;}
    20%{opacity: 0;}
    30%{opacity: 1;}
    40%{opacity: 0;}
    50%{opacity: 1;}
    60%{opacity: 0;}
    70%{opacity: 1;}
    80%{opacity: 0;}
    // 90%{opacity: 1;}
    100%{opacity: 1;}
}

@keyframes animation-ball-even {
    20% {
        transform: scale(0.7) translateY(-40px) translateX(140px);
    }

    30% {
        transform: scale(0.7) translateY(-120px) translateX(50px);
    }

    50% {
        transform: scale(0.7) translateY(-50px) translateX(-110px);
    }

    70% {
        transform: scale(0.7) translateY(160px) translateX(30px);
    }

    80% {
        transform: scale(0.7) translateY(100px) translateX(130px);
    }

    100% {
        transform: translateY(0px) translateX(0px);
    }
}

@keyframes animation-ball-odd {


    50% {
        transform: rotate(360deg) scale(0.7) translateY(240px) translateX(0px)
    }

    100% {
        transform: rotate(720deg) scale(0.7) translateY(0px) translateX(0px)
    }
}

@keyframes animation-pacman {
    0% {}

    20% {

        transform: scale(0.5) translateX(-180px);
    }

    35% {
        transform: scale(0.5) translateX(-180px) translateY(180px);
    }

    95% {
        transform: scale(0.85) translateX(90px) translateY(100px);
    }

    100% {
        transform: scale(0.85) translateX(90px) translateY(100px);
        // transition-delay: 2s;
    }
}

@keyframes animation-keyframes-open-menu {
    0% {
        opacity: 0;
        transform: translateX(-30rem);
    }

    20% {

        transform: rotate(5deg);
    }

    70% {
        transform: translateX(-10rem);
        transform: rotate(5deg);
        transform-origin: bottom right;

    }

    90% {
        transform: rotate(-3deg);
        transform-origin: bottom left;
    }

    100% {
        transform: translateX(0rem);
        transform: rotate(0deg);
        opacity: 1;
        transform: translate(1);
    }
}

@keyframes animation-keyframes-close-menu {
    0% {
        opacity: 1;
        transform: translateX(0rem);
    }

    10% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(-100rem);
    }
}

@keyframes animation-card-icon-up-down {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes animation-card-icon-vibrate {
    $vibrate-angle-small: 5deg;
    $vibrate-angle-large: 5deg;
    $move-up: 10px;

    0% {
        transform: translateY(0px);
    }

    5% {
        transform: rotate(-$vibrate-angle-small);
    }

    10% {
        transform: rotate($vibrate-angle-small);
    }

    15% {
        transform: rotate(-$vibrate-angle-small);
    }

    20% {
        transform: rotate($vibrate-angle-small);
    }

    25% {
        transform: rotate(-$vibrate-angle-small);
    }

    30% {
        transform: rotate($vibrate-angle-small);
    }

    35% {
        transform: rotate(-$vibrate-angle-small);
    }

    40% {
        transform: rotate($vibrate-angle-small);
    }

    45% {
        transform: rotate(-$vibrate-angle-small) translateY(-5px);
    }

    50% {
        transform: rotate($vibrate-angle-small) translateY(-10px);
    }

    55% {
        transform: rotate(-$vibrate-angle-small) translateY(-15px);
    }

    60% {
        transform: rotate($vibrate-angle-large) translateY(-20px);
    }

    65% {
        transform: rotate(-$vibrate-angle-large) translateY(-25px);
    }

    70% {
        transform: rotate($vibrate-angle-large) translateY(-30px);
    }

    75% {
        transform: rotate(-$vibrate-angle-large) translateY(-35px);
    }

    80% {
        transform: rotate($vibrate-angle-large) translateY(-40px);
    }

    85% {
        transform: translateY(-30px);
    }

    90% {
        transform: translateY(-20px);
    }

    95% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}